version: '3.8'

services:
  reverb-bot:
    container_name: reverb-bot
    image: ryanv8941/reverb-bot:latest
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /mnt/user/appdata/reverb-bot/bot_data.json:/app/bot_data.json  # Persist bot data
      - /mnt/user/appdata/reverb-bot/reverb_bot.db:/app/reverb_bot.db  # Persist SQLite database
      
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN} # Store in Unraid instead of hardcoding
      - WOW_AUDIT_TOKEN=${WOW_AUDIT_TOKEN}  # WOW Audit Token
      - RAIDBOTS_EMAIL=${RAIDBOTS_EMAIL}  # Raidbots Email
      - RAIDBOTS_PASSWORD=${RAIDBOTS_PASSWORD}  # Raidbots Password
      - GOOGLE_SERVICE_ACCOUNT_FILE=${GOOGLE_SA}
      - GOOGLE_SHEET_ID=${GOOGLE_SHEET_ID}